h1 {
  font-family: "Smooch", cursive;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* BODY */

body {
  font-family: sans-serif;
}

/* NAVIGATION */
.main-nav {
  text-align: center;
  margin: 0px;
  font-size: 18px;
  background-color: black;
  font-weight: bold;
  padding: 10px;
}

.main-nav a {
  text-decoration: solid;
  color: white;
  padding: 30px;
}

.main-nav a:hover {
  color: red;
}

/* MAIN BACKGROUND  */

main img {
  background-color: rgb(41, 49, 50);
  height: 100%;
  width: 100%;
}

/* IMAGE CONTAINER */
.box-container {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(41, 49, 50);
}

.box {
  /* border: 2px solid black;
  border-radius: 8px; */
  height: 200px;
  width: 200px;
  margin: 50px;
  box-shadow: 2px 2px 2px gray;
}

/* H2 */
.must-have h2 {
  text-align: center;
}

/* SECTION CONTACT

.contact {
  background-color: aqua;
}

.contact h2 {
  text-align: center;
}
.contact p {
  text-decoration-line: underline;
} */

/* FOOTER */

footer {
  background-color: aqua;
  padding: 10px;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

/* Youtube */
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
